{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "globals": {
    "app": true,
    "alert": true,
    "window": true,
    "console": true,
    "require": true,
    "document": true,
    "location": true,
    "requestAnimationFrame": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "quotes": [1, "single", "avoid-escape"]
  }
}
